# Welcome to Jupyter Notebook for Numpy

In [1]:
import numpy as np

## Creating Numpy Array from python list:-

In [2]:
listarray = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]) # 2D array with default dtype(data type)

In [3]:
listarray

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [4]:
listarray.shape

(3, 3)

In [5]:
listarray.size

9

In [6]:
myarr = np.array([[3, 6, 2, 18]]) # 2D array with default dtype(data type)

In [7]:
myarr2 = np.array([1, 5, 9, 10]) # 1D array with default dtype(data type)

In [8]:
myarr3 = np.array([10, 20, 30, 40], dtype='int64') # 1D array with data type int64

In [9]:
myarr4 = np.array([[15, 30, 25, 50]], dtype='int32') # 2D array with data type int32

In [10]:
myarr.shape

(1, 4)

In [11]:
myarr[0, 2]

2

In [12]:
myarr2[2]

9

In [13]:
myarr.dtype

dtype('int32')

In [14]:
myarr.size

4

In [15]:
myarr2[3] = 18

In [16]:
myarr2

array([ 1,  5,  9, 18])

**Creating Numpy array by conversion from other python structures:-**

List is also a python object, it can also come here

**Dictionaries:-**

In [17]:
np.array({34, 44, 54}) # Here, dtype became object, generally we use float or integer

array({34, 44, 54}, dtype=object)

## Creating Numpy array from intrinsic numpy array objects(eg. arange, ones, zeros, etc.):-

**1. Zeros (It makes an array of 0s):-**

In [18]:
zeros = np.zeros((2, 5))

In [19]:
zeros

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [20]:
zeros.dtype

dtype('float64')

In [21]:
zeros.shape

(2, 5)

**2. Arange (Makes an array of numbers and arranges it):-**

In [22]:
rng = np.arange(15)

In [23]:
rng

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

**3. Linspace (It will give 12 elements(In this example) from 1 to 5 equally spaced):-**

In [24]:
lspace = np.linspace(1, 5, 12)

In [25]:
lspace

array([1.        , 1.36363636, 1.72727273, 2.09090909, 2.45454545,
       2.81818182, 3.18181818, 3.54545455, 3.90909091, 4.27272727,
       4.63636364, 5.        ])

**4. Empty (It will give an array of random elements, we can assign values afterwards):-**

In [26]:
emp = np.empty((4, 6))

In [27]:
emp

array([[6.23042070e-307, 1.86918699e-306, 1.69121096e-306,
        1.86922637e-306, 1.69109959e-306, 1.06810539e-306],
       [1.42419938e-306, 7.56603881e-307, 8.45603441e-307,
        1.42417221e-306, 1.60219306e-306, 6.23059726e-307],
       [1.06811422e-306, 1.42417221e-306, 1.37961641e-306,
        6.23039694e-307, 6.23053954e-307, 9.34609790e-307],
       [8.45593934e-307, 9.34600963e-307, 1.86921143e-306,
        6.23061763e-307, 7.23188049e-308, 7.23149004e-308]])

**5. Empty Like (Copies the length of a previous array and then fills itself with random numbers in that length):-**

In [28]:
emp_like = np.empty_like(myarr)

In [29]:
emp_like

array([[-1049337040,         551,           0,           0]])

**Identity (This makes an array of a no. for eg. 45 * 45 - identity matrix):-**

In [30]:
identityMatrix = np.identity(45)

In [31]:
identityMatrix

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [32]:
identityMatrix.shape

(45, 45)

etc...There are many functions...

**Two important functions (Reshape and Ravel):-**

In [33]:
arr = np.arange(99)

In [34]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98])

In [35]:
arr = arr.reshape(3, 33) # This will reshape the array arr, this will not allow to do (3, 31) as in that the no. of elements 
                         # will be 93 and we need 99 elements in the array, so we can give (9, 11)

In [36]:
arr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
        32],
       [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
        49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
        65],
       [66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81,
        82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97,
        98]])

In [37]:
arr.shape

(3, 33)

In [38]:
arr = arr.ravel() # This will straigten the array again, 1D array will be made

In [39]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98])

In [40]:
arr.shape

(99,)

## Numpy Axis:-

**1D Array --> 1 Axis --> [Axis 0]**

**2D Array --> 2 Axes --> [Axis 0, Axis 1]**

In [42]:
x = [[1, 2, 3], [4, 5, 6], [7, 1, 0]]

In [43]:
ar = np.array(x)

In [44]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [45]:
ar.sum(axis=0) # Sum of columns

array([12,  8,  9])

In [46]:
ar.sum(axis=1) # Sum of rows

array([ 6, 15,  8])

## Attributes and functions of numpy:-

**Attributes (Other attributes can be seen on its official website):-**

In [47]:
ar.T # This will transpose the array, means it will exchange the elements of the rows with the elements of the columns

array([[1, 4, 7],
       [2, 5, 1],
       [3, 6, 0]])

In [48]:
ar.flat # It will give an iterator on the original array

In [49]:
for item in ar.flat:
    print(item)

1
2
3
4
5
6
7
1
0

In [51]:
ar.ndim # Prints the number of dimensions

2

In [52]:
ar.size # Number of elements in the array

9

In [53]:
ar.nbytes # Total bytes consumed

36

**Functions:-**

In [54]:
one = np.array([1, 3, 4, 634, 2])
#               0  1  2   3   4

In [55]:
one.argmax() # Index of the maximum element

3

In [56]:
one.argmin() # Index of the minimum element

0

In [57]:
one.argsort() # Arranges indexes in ascending order of their elements

array([0, 4, 1, 2, 3], dtype=int64)

In [58]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [59]:
ar.argmin()

8

In [60]:
ar.argmax()

6

In [61]:
ar.argsort()

array([[0, 1, 2],
       [0, 1, 2],
       [2, 1, 0]], dtype=int64)

In [62]:
ar.argmax(axis=0)

array([2, 1, 1], dtype=int64)

In [63]:
ar.argmax(axis=1)

array([2, 2, 0], dtype=int64)

In [64]:
ar.reshape((9, 1))

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [1],
       [0]])

In [65]:
ar.ravel()

array([1, 2, 3, 4, 5, 6, 7, 1, 0])

In [67]:
ar2 = np.array([[4, 5, 1],
       [5, 1, 3],
       [1, 3, 2]])

In [68]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [69]:
ar2

array([[4, 5, 1],
       [5, 1, 3],
       [1, 3, 2]])

In [70]:
ar+ar2

array([[5, 7, 4],
       [9, 6, 9],
       [8, 4, 2]])

In [71]:
ar-ar2

array([[-3, -3,  2],
       [-1,  4,  3],
       [ 6, -2, -2]])

In [72]:
ar*ar2

array([[ 4, 10,  3],
       [20,  5, 18],
       [ 7,  3,  0]])

In [73]:
ar/ar2

array([[0.25      , 0.4       , 3.        ],
       [0.8       , 5.        , 2.        ],
       [7.        , 0.33333333, 0.        ]])

In [74]:
arr3 = np.array([[ 4, 100,  25],
       [36,  5, 18],
       [ 7,  1,  0]])

In [75]:
np.sqrt(arr3) # Square root of each element

array([[ 2.        , 10.        ,  5.        ],
       [ 6.        ,  2.23606798,  4.24264069],
       [ 2.64575131,  1.        ,  0.        ]])

In [78]:
arr3.sum() # Prints the sum of all the elements

196

In [79]:
arr3.max() # Prints the maximum element

100

In [80]:
arr3.min() # Prints the minimum element

0

In [82]:
np.where(arr3>99) # It says at which position in the array, the element value is greater than 99

(array([0], dtype=int64), array([1], dtype=int64))

In [83]:
type(np.where(arr3>99)) # It will say the type of it. Here, it is tuple

tuple

In [84]:
np.count_nonzero(arr3) # It will print the number of nonzero elements in the array

8

In [85]:
np.nonzero(arr3) # It give a tuple for each dimension

(array([0, 0, 0, 1, 1, 1, 2, 2], dtype=int64),
 array([0, 1, 2, 0, 1, 2, 0, 1], dtype=int64))

## Advantage of using Numpy on the basis of size:-

In [86]:
import sys

In [87]:
py_arr = [2, 4, 18, 10]

In [92]:
np_arr = np.array(py_arr)

In [89]:
sys.getsizeof(1)*len(py_arr) # This is taking 112 bytes

112

In [93]:
np_arr.itemsize*np_arr.size # whereas this is only taking 16 bytes

16